body, html{
height: 100%;
}
  
body{
background-color:#5188b3;
}

.container{
background-color:#374957;
height: 100%;
width: 50%;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

img{ 
width: 25rem;
height: 25rem;
position: absolute; 
right: 15%;
top: 20%;
cursor: pointer;
}

h1{
color: whitesmoke;
padding-bottom: 2rem;
padding-top: 5rem;
padding-left: 2rem;
}

#primeira-parte {
color: whitesmoke;
padding-top: 2rem;
padding-left: 2rem;
text-transform: uppercase;
  
}

#segunda-parte {
padding-top: 2rem;
padding-left: 2rem;
color: whitesmoke;
   }

#caixa-email {
background-color:#3a5d79;
height: 24vh;
width: 65vh;
margin-top: 4rem;
margin-left: 2rem;
position: absolute;
}

#text-box {
font-size: x-large;
color: whitesmoke;
padding-top: 2rem;
padding-left: 2rem;
}

#email {
margin-top: 2rem;
margin-left: 2rem;
width: 20rem;
height: 2rem;
}

button {
height: 2rem;
cursor: pointer;
}

@media screen and (max-width: 425px) {
.container {
width: 100%;
}

img{
width: 8rem;
height: 8rem;
position: absolute;
top: 1rem;
right: 0.5rem;
}

#caixa-email {
background-color:#3a5d79;
height: 14vh;
width: 27vh;
margin-top: 4rem;
margin-left: 2rem;
position: absolute;
}

#text-box {
font-size: small;
}
    
#email {
margin-top: 2rem;
margin-left: 1rem;
width: 8rem;
height: 1rem;
}  
   
button {
height: 1.2rem;
cursor: pointer;
margin-left: 1.5rem;
}
}
     
@media screen and (min-width: 426px) and (max-width: 1023px) { 
.container {
width: 100%;
height: 50%;

}

img{
width: 20rem;
height: 20rem;
position: absolute;
top: 33rem;
right: 15rem;
}
      
#caixa-email {
background-color:#3a5d79;
height: 15vh;
width: 35vh;
margin-top: 4rem;
margin-left: 2rem;
position: absolute;
}
    
#text-box {
font-size: small;
}
        
#email {
margin-top: 2rem;
margin-left: 1rem;
width: 8rem;
height: 1rem;
}  
       
button {
height: 1.2rem;
cursor: pointer;
}
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
     
h1 {
font-size: 2rem
}
    
#primeira-parte, #segunda-parte {
font-size: 2rem;
}
    
img{
width: 20rem;
height: 20rem;
position: absolute;
top: 15rem;
right: 7rem;
}

#caixa-email {
background-color:#3a5d79;
height: 17vh;
width: 42vh;
margin-top: 4rem;
margin-left: 2rem;
position: absolute;
}
    
#text-box {
font-size: small;
}
        
#email {
margin-top: 2rem;
margin-left: 1rem;
width: 10rem;
height: 1rem;
}  
       
button {
height: 1.2rem;
cursor: pointer;
}
}

@media screen and (min-width: 1440px) and (max-width: 2559px) { 
h1 {
font-size: 2rem
}

#primeira-parte, #segunda-parte {
font-size: 2rem;
}
    
img{
width: 30rem;
height: 30rem;
position: absolute;
top: 15rem;
right: 7rem;
}
}

@media screen and (min-width: 2560px) {
      
h1 {
font-size: 6rem
}
h4, p {
font-size: 3rem;
}
      
      
img{
width: 40rem;
height: 40rem;
position: absolute;
top: 18rem;
right: 15rem;
}
}


  
span{
border-bottom: 2px solid whitesmoke;
}
  